@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">


    <h1>@Resources.Messages.IndexPage</h1>

    @{
        var posts = ViewData["posts"] as List<Models.Post>;
        if (posts == null)
        {

            <p>null</p>
        }
        else
        {
            <div class="border">
                @foreach (var post in posts)
                {
                    <p>@post.Id</p>
                    <p>@post.Title</p>
                    <p>@post.Content</p>
                }
            </div>
        }
    }
</div>