@{
}
@inject SignInManager<ApplicationUser> SigninManager

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    @{
                        if (SigninManager.IsSignedIn(User))
                        {
                            <form asp-controller="Account" asp-action="LogOut" method="post">
                                <button  type="submit" class="btn nav-link">@Resources.Buttons.LogOut</button>
                            </form>
                        }
                        else
                        {
                            <a asp-controller="Account" class="" asp-action="Login">@Resources.Buttons.Login</a>
                        }
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>