@inject SignInManager<ApplicationUser> SigninManager


@{

}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Rasool Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @{
                    var active = TempData["active"] as string;
                    if (active == "Home")
                    {
                        <li class="nav-item">
                            <a class="nav-link active" asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    }
                    if (active == "Blog")
                    {
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Blog" asp-action="Index">Blog</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Blog" asp-action="Index">Blog</a>
                        </li>
                    }
                    if (active == "ManageBlog")
                    {
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="ManageBlog" asp-action="Index">ManageBlog</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ManageBlog" asp-action="Index">ManageBlog</a>
                        </li>
                    }
                    if (active == "Category")
                    {
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Category" asp-action="list">Manage Category</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Category" asp-action="list">Manage Category</a>
                        </li>
                    }
                }

            </ul>
            @{
                if (SigninManager.IsSignedIn(User))
                {
                    <form asp-controller="Account" asp-action="LogOut" method="post">
                        <button type="submit" class="btn nav-link">@Resources.Buttons.LogOut</button>
                    </form>
                }
                else
                {
                    <a asp-controller="Account" class="" asp-action="Login">@Resources.Buttons.Login</a>
                }
            }
        </div>
    </div>
</nav>