@{
    TempData["Title"] = "Add Post";
}

@model ViewModels.MangeBlog.AddPostViewModel;

<div class="container">

    <h1>AddPost</h1>

    <form asp-action="AddPost" asp-controller="ManageBlog" method="post">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label asp-for="Summary"></label>
            <textarea asp-for="Summary" class="form-control"></textarea>
        </div>
        <div class="form-group mb-2">
            <label class="" asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">@Resources.Buttons.AddPost </button>
    </form>
</div>