@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>WellCome admin</h1>

    <a class="btn btn-primary" asp-controller="ManageBlog" asp-action="AddPost">Add Post</a>

    <p>Posts</p>
    <div class="container">
        @{
            
        }
    </div>
</div>

