
@{
    ViewData["Title"] = "Index";
}

<h1>WellCome admin</h1>

<div>
    <button class="btn btn-primary" asp-controller="ManageBlog" asp-action="AddPost">Add Post</button>

    <p>Posts</p>
</div>

