@model ViewModels.Account.LoginViewModel


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                @{
                    if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="text-danger">@ViewData["ErrorMessage"]</div>
                    }
                }
                <form asp-controller="Account" asp-action="Login" asp-route-returnUrl=@ViewData["returnUrl"] method="post" class="row g-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h4>Welcome Back</h4>
                    <div class="col-12">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" name="password" class="form-control" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input asp-for="RememberMe" class="form-check-input" type="checkbox" id="rememberMe">
                            <label asp-for="RememberMe" class="form-check-label" for="rememberMe"></label>
                            <span asp-validation-for="RememberMe" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end">@Resources.Buttons.Login</button>
                    </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">@Resources.Buttons.UnRegistered <a asp-action="Register">Signup</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
